# Node dependencies folder
node_modules/

# Environment configuration secrets
.env

# SSL private keys and certificates
certs/

#Reference List
#The Independent Institute of Education (IIE), 2025. APPLICATION DEVELOPMENT SECURITY [INSY7314 Module Manual] The Independent Institute of Education: Unpublished.